* {
    border-sizing: border-box;
}
.cp {
    padding: 4px;
    padding-left: 200px;
}

.cp-list {
    .cp-displayid,
    .cp-title,
    .cp-dif,
    .cp-time,
    .cp-mem,
    .cp-visible {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .cp-title {
        width: 1100px;
    }
    .cp-displayid {
        width: 300px;
    }
}
.cp-header {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 60px;
    line-height: 45px;
    padding: 10px 15px;
}
.cp-btn {
    padding: 12px 100px;
    margin: 20px;
    font-size: 20px;
}

.cp-language {
    width: 30px;
}

.addButton {
    margin-top: 0;
    width: 100%;
}
.textArea {
    width: 690px;
    height: 100px;
    border-color: #ccc;
    margin-bottom: 5px;
}
.removeButton {
    position: relative;
    top: 50%;
}
.cp-visible {
    width: 100px;
}
.cp-first {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
    .cp {
        padding-left: 86px;
    }
}
.div-mem {
    margin-right: 20px;
}
.cp-second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.textArea-2 {
    margin-left: 10px;
}
