.cp {
    position: relative;
    left: 210px;
    top: 55px;
    width: 86%;
}

.cp-list {
    position: relative;
    padding: 1rem;
    border: 0.2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: #212529;
    box-sizing: border-box;
    background-color: #fff;
    li {
        list-style-type: none;
    }

    .cp-displayid,
    .cp-title,
    .cp-dif,
    .cp-time,
    .cp-mem {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 80%;
    }
    table {
        width: 100%;
        .td-dis {
            width: 30%;
        }
    }
}
.cp-header {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 60px;
    line-height: 45px;
    padding: 10px 15px;
}
.cp-btn {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
}
.td-type {
    padding-left: 50px;
}
.cp-language {
    width: 30px;
}

.addButton {
    width: 100%;
}
.textArea {
    width: 96%;
    height: 100px;
    border-radius: 4px;
    border-color: #ccc;
}
.removeButton {
    width: 3%;
    position: relative;
    left: 1%;
    bottom: 44px;
}
