.status-container {
    padding: 40px 40px;
    width: 100%;
    background-color: #eee;
}

.status-header{
    display: flex;
    justify-content: space-between;
}
.status-feartures{
    display: flex;
}
.filter_by{
    display: flex;
    width: 100%;
    margin: 0 8px;
    
}
.empty-result-msg {
    margin: 15px;
    font-style: italic;
}

.table-cell{
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}
.result-container{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 8px;
    background: #924381;
    color: #fff;
    font-size: 13px;
    font-weight: 380;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}
.result-text{
    text-align: center;
}
.Accepted{
    background: #19be6b;
}
.Time_limit,.Wrong_answer,.Runtime_error{
    background: #ed3f14;
}
.System_error,.Compile_error{
    background: #f90;
}
.New{
    background: #0069d9;
}
.Judged{
    background: #138496;
}
.Judging{
    background: #23272b;
}
th, td {
    text-align: center;
}