.status-container {
    padding: 40px 40px;
    width: 100%;
    background-color: #eee;
}

.status-header{
    display: flex;
    justify-content: space-between;
}
.status-feartures{
    display: flex;
}
.filter_by{
    display: flex;
    width: 100%;
    margin: 0 8px;
    
}
.empty-result-msg {
    margin: 15px;
    font-style: italic;
}

.table-cell{
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}
.result-container{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 380;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;

    .other {
        background: #924381;
    }
}
.status-table-card {
    .status-table {
        .result-text{
            text-align: center;
        }
        .s-hidden {
            background: #dde;
        }
        .s-public {
            background: #fff;
        }
        th, td {
            text-align: center;
        }
    }
}