.status_details-container{
    position: relative;
    padding: 40px 40px;
    width: 100%;
    background-color: #eee;
}
.status_details-container__item{
    margin-top: 20px;
}
.verdict{
    height: 30px;
    line-height: 30px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 8px;
    background: #924381;
    color: #fff;
    font-size: 13px;
    font-weight: 380;
    vertical-align: middle;
    opacity: 1;
}
.Accepted{
    background: #19be6b;
}
.Time_limit,.Wrong_answer,.Runtime_error{
    background: #ed3f14;
}
.System_error,.Compile_error{
    background: #f90;
}
.New{
    background: #0069d9;
}
.Judged{
    background: #138496;
}
.Judging{
    background: #23272b;
}
.verdict-text{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 8px;
    color: #fff;
    font-size: 13px;
    font-weight: 380;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}