.problems-container {
    padding: 40px 40px;
    width: 100%;
    background-color: #eee;

    .empty-result-msg {
        margin: 15px;
        font-style: italic;
    }
    
    .card-container {
        width: 100%;
    }
}
.problem-header {
    display: inline-flex;
    justify-content: space-between;
    .problem-features {
        display: flex;
        .problem-features__items {
            display: flex;
            padding: 0 10px;
            width: 50%;
            p{
                padding-top: 10px;
                font-size: 15px;
                font-weight: 350;
            }
        }
    }
}

.Collapsible {
    width: 100%;
    .filter_form {
        .filter_form_items {
            padding: 10px 10px 0 10px;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

        }
        button {
            float: right;
            margin: 0 10px 10px 0;
        }
    }
}

.difficulty-container{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e9eaec;
    border-radius: 8px;
    background: #f7f7f7;
    color: #fff;
    font-size: 13px;
    font-weight: 380;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}
table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    th {
        cursor: pointer;
    }
    .p-hidden {
        background: #dde;
    }
    .p-public {
        background: #fff;
    }
}
.Easy{
    background: #337ab7;
}
.Medium{
    background: #19be6b;
}
.Hard{
    background: #c82333;
}
