
.Admin_profile {
    position: relative;
    left: 210px;
    padding-top: 30px;
    border-radius: 4px;

    margin-top: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    width: 40%;
    border: 0;
    display: flex;
    position: relative;
    font-size: .875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0 , 14%);
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
    .admin_image{
        margin: -55px auto 0;
        padding: 0;
        overflow: hidden;
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
    }
    .admin_information{
        flex: 1 1 auto;
        padding: 0.9375rem 20px;
        position: relative;
        -webkit-box-flex: 1;
        margin-top: 15px;

        h4{
                color: #3C4858;
            margin-top: 0;
            min-height: auto;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            font-weight: 300;
            margin-bottom: 3px;
            text-decoration: none;
        }
    }
}

