.Admin_profile {
    position: relative;
    padding-top: 30px;
    border-radius: 4px;

    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    width: 60%;
    border: 0;
    display: flex;
    position: relative;
    font-size: 0.875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(75, 52, 52, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
    .admin_header {
        margin: -120px auto 0;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        .admin_image {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .admin_information {
        flex: 1 1 auto;
        padding: 0.9375rem 20px;
        position: relative;
        -webkit-box-flex: 1;
        margin-top: 15px;

        h4 {
            color: #3c4858;
            margin-top: 0;
            min-height: auto;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 300;
            margin-bottom: 3px;
            text-decoration: none;
        }
    }
}
.admin-content {
    background-color: rgb(238, 238, 238);
}
.admin-dashboard {
    position: relative;
    top: 40px;
    left: 220px;
    width: 84%;
    // margin: 0 auto;
    .dashboard__title {
        .dashboard__title-icon {
            transform: translateY(-14%);
        }
        color: #333;
    }
    .dashboard__list {
        height: 132px;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        .dashboard__item + .dashboard__item {
            margin-left: 40px;
        }

        .dashboard__item {
            height: inherit;
            position: relative;
            background-color: #fff;
            border-radius: 6px;
            width: 20%;

            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
            flex: 1;

            .item__icon {
                height: 86px;
                width: 86px;
                background-color: #333;
                border-radius: 4px;
                position: relative;
                transform: translate(20%, -20%);
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
                .item__icon-font {
                    height: 60px;
                    width: 60px;
                    margin: 13px;
                    color: #fff;
                }
            }
            .item__title {
                color: #999;
                position: absolute;
                right: 20px;
                top: 10px;
            }
            .item__content::before {
                content: "";
                display: block;
                border-top: 1px solid #ccc;
                width: 80%;
                margin: auto;
                opacity: 0.8;
                color: #333;
            }
            .item__content {
                text-align: center;
                color: #333;
                font-size: 24px;
                font-weight: 600;
            }
        }
        @media (min-width: 1280px) {
            .dashboard__item {
                flex-grow: 0;
                max-width: 20%;
                flex-basis: 20%;
            }
        }
        @media (min-width: 960px) {
            .dashboard__item {
                flex-grow: 0;
                max-width: 50%;
                flex-basis: 50%;
            }
        }

        @media (min-width: 600px) {
            .dashboard__item {
                flex-grow: 0;
                max-width: 50%;
                flex-basis: 50%;
            }
        }
    }
}

.item__icon--first {
    background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}
.item__icon--second {
    background-image: linear-gradient(60deg, #66bb6a, #43a047);
}
.item__icon--third {
    background-image: linear-gradient(60deg, #ef5350, #e53935);
}
.item__icon--fourth {
    background-image: linear-gradient(60deg, #26c6da, #00acc1);
}
