
.edit-form{
    display: block;
    position: relative;
    padding-top: 30px;
    padding-left: 17%;
    width: 90%;
}
.UserForm{
    display: block;
    width: 100%;
    .UserForm-items{
        margin: 10px 0;
    }
}
.user-select{
    padding-top: 10px;
}
