.setting_container{
    width: 100%;
    min-width: 800px;
    background: #eee;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    transition: all .2s ease-in-out;

}
.card_container{
    display: flex;
    width: 100%;
    max-width: 100%;
    background: #eee;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 5%;
    padding-left: 20%;
}
.sidebar{
    position: sticky;
    flex: 4;
    background-color: #2f323A;
    left: 0;
    width: 10%;
    height: 100%;
    flex: 1 0 150px;
    max-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    

    h4{
        color: #ccc;
        margin-bottom: 20px;
    }
    a{
        color: #fff;
        display: inline-block;
        border-radius: 20px;
        margin-left: 20px;
        width: 85%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    a:hover{
        background: #3d4c81;
    }
    i{
        padding-right: 10px;
    }
    span{
        font-size: medium;
    }
    .profile_submission{
        padding-left: 0px;
        width: 70%;
        margin-left: 0px;
    }
}

.right_container{
    flex: 1;
    position: relative;
    width: 100%;
    margin: 10px 40px;
    padding-bottom: 20px;
}
.sidebar-item{
    color: #fff;
    display: inline-block;
    border-radius: 20px;
    margin-left: 20px;
    width: 85%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar-item:hover{
    background: #3d4c81;
    width: 85%;
    cursor: pointer;
}


.upload-img .container {
    max-width: 960px;
    margin: 10px auto;
    padding: 20px;
}

.upload-img h1 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 10px;
    small {
        display: block;
        font-size: 15px;
        padding-top: 8px;
        color: gray;
    }
}

.upload-img .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 10px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
            }
        }
    }
    .avatar-preview {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 100%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        .profile_img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.save-button{
    position: absolute;
    right: 10px;
}