.home-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: normal;
    position: absolute;
    margin-top: 30px;
    width: 100%;
    background-color:#eee;

    .annoucement-container{
        width: 80%;
        background-color: #fff;
    }
}