.sidebar-container {
    border-right: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.menu-sidebar {
    overflow: hidden;
    height: 100%;
    min-width: 200px;
    width: 200px;
    position: fixed !important;
    display: flex;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;

    .logo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .sidebar__logo {
            margin-top: 32px;
            box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.6);
        }
    }
    img {
        z-index: 102;
        width: 80%;
        height: 80%;
    }

    .pro-sidebar-layout {
        width: 12rem;
    }
}
@media screen and (max-width: 960px) {
}
