
.edit_form{
    display: block;
    position: absolute;
    padding-top: 30px;
    padding-left: 17%;
}

.list-group-item{
    border: none !important;
}
.announForm-items{
    padding: 10px 0;
}
.save_button{
    display: block;
    position: relative;
    padding-top: 10px;
    left: 94%;
    bottom: 10px;
}


