.news-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: normal;
    position: absolute;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color:#eee;

    .news-card {
        width: 80%;
        background-color: #fff;
    }
    .card-container {
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        article {
            width: 100%;
            margin: auto;
        }
    }
}

.announcement-header{
    display: flex;
    justify-content: space-between;
}