.addButton {
    width: 100%;
}
.textArea {
    width: 96%;
    height: 100px;
    border-radius: 4px;
    border-color: #ccc;
}
.removeButton {
    width: 3%;
    position: relative;
    left: 1%;
    bottom: 44px;
}
